<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Aumentar límite de contenido a 100MB -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    
    <!-- Configuración principal de ASP.NET Core -->
    <aspNetCore processPath="dotnet" 
                  arguments=".\Csjnet.dll" 
                  stdoutLogEnabled="false" 
                  stdoutLogFile=".\logs\stdout" 
                  requestTimeout="00:03:00" 
                  forwardWindowsAuthToken="false" 
                  hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>